{% extends 'base.html.twig' %}

{% block title %}VirementEntrant index{% endblock %}

{% block body %}
    <h1>VirementEntrant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Montant</th>
                <th>IbanEmetteur</th>
                <th>Reference</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for virement_entrant in virement_entrants %}
            <tr>
                <td>{{ virement_entrant.id }}</td>
                <td>{{ virement_entrant.date ? virement_entrant.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ virement_entrant.montant }}</td>
                <td>{{ virement_entrant.ibanEmetteur }}</td>
                <td>{{ virement_entrant.reference }}</td>
                <td>
                    <a href="{{ path('app_virement_entrant_show', {'id': virement_entrant.id}) }}">show</a>
                    <a href="{{ path('app_virement_entrant_edit', {'id': virement_entrant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_virement_entrant_new') }}">Create new</a>
{% endblock %}

{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Ma banque',7) }}
{% endblock %}